@model EmailViewModel

@if (Model.UserIsManager)
{
    <tr>
        <td>@Model.DateReceived</td>
        <td>@Model.Sender.SenderName &lt@(Model.Sender.SenderEmail)&gt</td>
        <td>@Model.Subject</td>
        <td class="status-@Model.GmailIdNumber">@Model.Status.Text</td>
        <td>
            @if (Model.AreAttachments)
            {<img src="~/images/attachment.png" height="42" width="42">}
        </td>
        <td>Edit</td>    
        <td>

            <!-- Button to Open the Modal -->
            <button type="button" style="background-color:cadetblue" class="email-button" data-isManager=@Model.UserIsManager data-toggle="modal" data-target="#mails-@Model.GmailIdNumber" data-url="/home/previewmail">
                <img src="~/images/preview.png" height="30" width="30">
            </button>
        </td>
    </tr>
}
else
{
    Model.Muted = "class=text-muted";
    <tr @Model.Muted>
        <td>@Model.DateReceived</td>
        <td>@Model.Sender.SenderName &lt@(Model.Sender.SenderEmail)&gt</td>
        <td>@Model.Subject</td>
        <td class="status-@Model.GmailIdNumber">@Model.Status.Text</td>
        <td>
            @if (Model.AreAttachments)
            {<img src="~/images/attachment.png" height="42" width="42">}
        </td>
        <td>
        </td>
    </tr>



}
