@model EmailViewModel

<h3>All Mails</h3>

<table class="table-hover">
    <thead class="thead-dark">
        <tr>
            <th>DB ID</th>
            <th>Email DateTime received</th>
            <th>Sender Name</th>
            <th>Sender E-mail</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Icon indicating if there any attachments</th>
            <th>List new emails</th>
            <th>Email preview button – showing email preview onClick</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var mail in Model.SearchResults)
        {
            <tr>
                <td>@mail.Id</td>
                <td>@mail.DateReceived</td>
                <td>@mail.Sender.SenderName</td>
                <td>@mail.Sender.SenderEmail</td>
                <td>@mail.Subject</td>
                <td>@mail.Status.Text</td>
                <td>
                    @if (mail.AreAttachments)
                    {<img src="~/images/attachment.png" height="42" width="42">}
                </td>
                <td>LIST new mails ???</td>
                <td>

                    <!-- Button to Open the Modal -->

                    <button id="" type="submit" class="btn btn-primary email-button" data-toggle="modal" data-target="#mails-@mail.GmailIdNumber">
                            <img src="~/images/preview.png" height="30" width="30">
                        </button>

                        <!-- The Modal -->

                        <div class="modal fade" id="mails-@mail.GmailIdNumber">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h3 class="modal-title">@mail.Subject</h3>
                                        <h5 class="modal-title">@mail.Sender.SenderName, @mail.Sender.SenderEmail</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <h3>Sender (email and name / From: field): @mail.Sender.SenderEmail @mail.Sender.SenderName </h3>

                                        <h3>Date received (date of email receiving within the mail server): @mail.DateReceived</h3>
                                        <h3>Subject: @mail.Subject</h3>


                                        <iframe srcdoc="@mail.Body" width="400" height="600"></iframe>



                                        <h3>
                                            • Count of attachments and total (sum) size of attachments (in kb/Mb)
                                            • Customer unique ID / EGN – filled by bank employee / agent when change from New->Open status
                                            • Customer contact phone – filled by bank employee / agent when change from New->Open status
                                            • Date/Time of initial registration within the system (when the email was extracted from MS Exchange server and registered within the DB)
                                            • Date/Time when the application was set in current status
                                            • Date/Time when the application was set in terminal status (Closed or Invalid Application)
                                        </h3>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


@*<script>
        $(document).on('hidden.bs.modal', function (e) {
            var target = $(e.target);
            target.removeData('bs.modal')
                .find(".modal-body").html('');
        });
    </script>*@
