@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@model EmailViewModel

<h3 style="display:inline">All Mails</h3>

<form asp-action="ListAllMails" method="post" style="display:inline; float:right">
    <div class="form-actions no-color">
        <p>
            @if (Model.FilterOnlyNotValid)
            {
                <input type="submit" value="Not Valid Only" class="btn btn-success" disabled />
                <a asp-action="ListAllMails" class="btn btn-outline-success">Full List</a>
            }
            else
            {
                <input type="checkbox" name="newFilter" value="true" checked hidden />
                <input type="submit" value="Not Valid Only" class="btn btn-outline-success" />
                <a asp-action="" class="btn btn-success disabled">Full List</a>
            }
        </p>
    </div>
</form>

<table class="table-hover" style="width:100%">
    <thead class="thead-light" style="background-color: cadetblue">
        <tr>
            <th>ID</th>
            <th hidden>GmailID</th>
            <th>Date/Time</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Status</th>
            <th style="text-align: center"> Since</th>
            @if (Model.UserIsManager)
            {
                <th style="text-align: center">Blame</th>
            }

            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
   

        @foreach (var mail in Model.SearchResults)
        {
            mail.UserIsManager = Model.UserIsManager;

            <tbody class="row-@mail.GmailIdNumber" data-rowShouldEdit="@mail.RowShouldBeEdited">
                <partial name="_AllEmailsPartial" model="mail" />
            </tbody>
        }
    
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@Model.FilterOnlyNotValid"
   class="btn btn-success @prevDisabled">
    Previous
</a>
<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@Model.FilterOnlyNotValid"
   class="btn btn-success @nextDisabled">
    Next
</a>
