@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@model EmailViewModel

<h3 style="display:inline">Closed Applications</h3>

@if (Model.UserIsManager)
{
    <form asp-action="ListClosedMails" method="post" style="display:inline; float:right">
        <div class="form-actions no-color">
            <input list="users" name="selectedUser" value="@Model.FilterByUser">
            <datalist id="users">
                @foreach (var user in Model.UserNames)
                {
                    <option value="@user"></option>
                }
            </datalist>
            <input type="submit" value="Filter by user" class="btn btn-success">
        </div>
    </form>
    <form asp-action="ListClosedMails" method="post" style="display:inline; float:right">
        <div class="form-actions no-color">
            <p>
                @if (Model.FilterClosedStatus == "Rejected Only")
                {

                    <a asp-action="ListClosedMails"
                       class="btn btn-outline-success"
                       asp-route-currentFilter="@Model.FilterByUser"
                       asp-route-filterStatus="All">
                        All
                    </a>
                    <a asp-action="ListClosedMails"
                       class="btn btn-outline-success"
                       asp-route-currentFilter="@Model.FilterByUser"
                       asp-route-filterStatus="Aproved Only">
                        Aproved Only
                    </a>
                    <input type="button" name="filterStatus" value="Rejected Only" class="btn btn-success" checked disabled />

                }
                else if (Model.FilterClosedStatus == "Aproved Only")
                {
                    <a asp-action="ListClosedMails"
                       class="btn btn-outline-success"
                       asp-route-currentFilter="@Model.FilterByUser"
                       asp-route-filterStatus="All">
                        All
                    </a>
                    <input type="button" name="filterStatus" value="Aproved Only" class="btn btn-success" checked disabled />
                    <a asp-action="ListClosedMails"
                       class="btn btn-outline-success"
                       asp-route-currentFilter="@Model.FilterByUser"
                       asp-route-filterStatus="Rejected Only">
                        Rejected Only
                    </a>

                }
                else if (Model.FilterClosedStatus == "All" || Model.FilterClosedStatus == null)
                {

                    <input type="button" name="filterStatus" value="All" class="btn btn-success" checked disabled />
                    <a asp-action="ListClosedMails"
                       class="btn btn-outline-success"
                       asp-route-currentFilter="@Model.FilterByUser"
                       asp-route-filterStatus="Aproved Only">
                        Aproved Only
                    </a>
                    <a asp-action="ListClosedMails"
                       class="btn btn-outline-success"
                       asp-route-currentFilter="@Model.FilterByUser"
                       asp-route-filterStatus="Rejected Only">
                        Rejected Only
                    </a>

                }
            </p>
        </div>
    </form>

}

<table class="table-hover" style="width:100%">
    <thead class="thead-light" style="background-color: cadetblue">
        <tr>
            <th>ID</th>
            <th hidden>GmailID</th>
            <th>Date/Time</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Status</th>
            @if (Model.UserIsManager)
            {
                <th style="text-align: center">Blame</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var mail in Model.SearchResults)
        {
            mail.UserIsManager = Model.UserIsManager;
            <tr class="row-@mail.GmailIdNumber" data-rowShouldEdit="@mail.RowShouldBeEdited">
                <partial name="_AllClosedEmailsPartial" model="mail" />
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<p></p>
<hr />
<a asp-action="ListClosedMails"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@Model.FilterByUser"
   asp-route-currentFilterStatus="@Model.FilterClosedStatus"
   class="btn btn-success @prevDisabled">
    Previous
</a>
<a asp-action="ListClosedMails"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@Model.FilterByUser"
   asp-route-currentFilterStatus="@Model.FilterClosedStatus"
   class="btn btn-success @nextDisabled">
    Next
</a>
