@model EmailViewModel

<h3>All Mails</h3>

<table class="table-hover">
    <thead class="thead-dark">
        <tr>
            <th>DB ID</th>
            <th>Email DateTime received</th>
            <th>Sender Name</th>
            <th>Sender E-mail</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Icon indicating if there any attachments</th>
            <th>List new emails</th>
            <th>Email preview button – showing email preview onClick</th>
        </tr>
    </thead>
    <tbody>




        @foreach (var mail in Model.SearchResults)
        {
            <tr>
                <td>@mail.Id</td>
                <td>@mail.DateReceived</td>
                <td>@mail.Sender.SenderName</td>
                <td>@mail.Sender.SenderEmail</td>
                <td>@mail.Subject</td>
                <td>@mail.Status.Text</td>
                <td>
                    @if (mail.AreAttachments)
                    {<img src="~/images/attachment.png" height="42" width="42">}
                </td>
                <td>LIST new mails ???</td>
                <td>

                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mails-@mail.GmailIdNumber">
                        <img src="~/images/preview.png" height="30" width="30">
                    </button>

                    <!-- The Modal -->
                    <div class="container">
                        <div class="modal fade" id="mails-@mail.GmailIdNumber" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h3 class="modal-title">@mail.Subject</h3>
                                            <h4 class="modal-title">@mail.Sender.SenderName, @mail.Sender.SenderEmail</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Modal body..
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


@*<script>
        $(document).on('hidden.bs.modal', function (e) {
            var target = $(e.target);
            target.removeData('bs.modal')
                .find(".modal-body").html('');
        });
    </script>*@
