@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@model EmailViewModel

<h3 style="display:inline">All Mails</h3>
<button class="list-only-notValid" style="display:inline; float:right">Show only "Not Valid"</button>


<table class="table-hover">
    <thead class="thead-dark" style="background-color:cadetblue">
        <tr>
            <th>ID</th>
            <th>GmailID</th>
            <th>Date/Time</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Status</th>
            <th> </th>
            <th>List new emails</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var mail in Model.SearchResults)
        {
            if (mail.Status.Text == "Not Reviewed" || mail.Status.Text == "Invalid Application")
            {
                @if (mail.Status.Text == "Invalid Application")
                {
                    mail.Muted = "class=text-muted";
                }
                <tr @mail.Muted>
                    <td>@mail.Id</td>
                    <td>@mail.GmailIdNumber</td>
                    <td>@mail.DateReceived</td>
                    <td>@mail.Sender.SenderName &lt@(mail.Sender.SenderEmail)&gt</td>
                    <td>@mail.Subject</td>
                    <td class="status-@mail.GmailIdNumber">@mail.Status.Text</td>
                    <td>
                        @if (mail.AreAttachments)
                        {<img src="~/images/attachment.png" height="42" width="42">}
                    </td>
                    <td>LIST new mails ???</td>
                    <td>

                        <!-- Button to Open the Modal -->
                        @if (Model.UserIsManager)
                        {
                            <button type="button" style="background-color:cadetblue" class="email-button" data-isManager=@Model.UserIsManager data-toggle="modal" data-target="#mails-@mail.GmailIdNumber" data-url="/home/previewmail">
                                <img src="~/images/preview.png" height="30" width="30">
                            </button>
                        }
                        else if (mail.Status.Text == "Not Reviewed")
                        {
                            <button type="button" class="btn btn-primary email-button" data-toggle="modal" data-target="#mails-@mail.GmailIdNumber" data-url="/home/previewmail">
                                <img src="~/images/preview.png" height="30" width="30">
                            </button>
                        }

                        <!-- The Modal -->

                        <div class="modal fade bootstrap-modal" id="mails-@mail.GmailIdNumber" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-lg" style="width:100%">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h6 class="modal-title">@mail.Sender.SenderName, @mail.Sender.SenderEmail</h6>
                                        <button type="button" class="close close-button" data-dismiss="modal" data-target="@mail.GmailIdNumber">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-sm-9" style="background-color:lavender;">
                                                <p><h7>Subject: <r style="font-weight:bold">@mail.Subject</r></h7></p>
                                                <p><h7>Date/Time received in the mail: <r style="font-weight:bold">@mail.DateReceived</r></h7></p>
                                                <p>
                                                    <h7>
                                                        Date/Time of initial registration within the system:
                                                        <r style="font-weight:bold">@mail.InitialRegistrationInSystemOn</r>
                                                    </h7>
                                                </p>
                                                <p>
                                                    <h7>
                                                        <r style="font-weight:bold">@mail.Attachments.Count</r> attachment/s, total size:
                                                        <r style="font-weight:bold">@mail.Attachments.Sum(x => x.FileSizeInMb).ToString("0.00")</r> MB
                                                    </h7>
                                                </p>
                                                <p><h7>Subject: <r style="font-weight:bold">@mail.Subject</r></h7></p>
                                                <div class="mail-body" style="width: 100%; height:300px; overflow-y:scroll;">
                                                    <img src="/images/ajax-loader.gif" class="loading-indicator" style="height:150px" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3" style="background-color:lavender;">
                                                <div style="">
                                                    <p></p>

                                                    <button type="button" data-dismiss="modal" style="width:160px" class="btn btn-success validation-button" data-messageId="@mail.GmailIdNumber" data-url="/home/validatemail">Valid</button>
                                                    <p></p>
                                                    <p></p>
                                                    <button type="button" data-dismiss="modal" style="width:160px" class="btn btn-danger notValid-button" data-messageId="@mail.GmailIdNumber" data-url="/home/notvalidmail">Not Valid</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    @*<div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>*@

                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }
            else
            {
                <tr href="" style="cursor:pointer" class="applicationEmail" data-target="#mails-@mail.GmailIdNumber" data-url="/home/openapplication" data-toggle="modal">
                    <td>@mail.Id</td>
                    <td>@mail.GmailIdNumber</td>
                    <td>@mail.DateReceived</td>
                    <td>@mail.Sender.SenderName &lt@(mail.Sender.SenderEmail)&gt</td>
                    <td>@mail.Subject</td>
                    <td>@mail.Status.Text</td>


                    <td>
                        @if (mail.AreAttachments)
                        {<img src="~/images/attachment.png" height="42" width="42">}
                    </td>
                    <td>LIST new mails ???</td>
                    <td>
                        <!-- The Modal -->
                        <div class="modal fade" id="mails-@mail.GmailIdNumber">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h6 class="modal-title">@mail.Sender.SenderName, @mail.Sender.SenderEmail</h6>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <table>
                                            <tbody>
                                                <tr class="" style="background-color:lavender;">
                                                    <td>
                                                        <p><h7>Subject: <r style="font-weight:bold">@mail.Subject</r></h7></p>
                                                        <p><h7>Date/Time received in the mail: <r style="font-weight:bold">@mail.DateReceived</r></h7></p>
                                                        <p>
                                                            <h7>
                                                                Date/Time of initial registration within the system:
                                                                <r style="font-weight:bold">@mail.InitialRegistrationInSystemOn</r>
                                                            </h7>
                                                        </p>
                                                        <p>
                                                            Aplication Status:
                                                            <r style="font-weight:bold">@mail.Status.Text</r>
                                                        </p>
                                                        <p>
                                                            <h7>
                                                                <r style="font-weight:bold">@mail.Attachments.Count</r> attachment/s, total size:
                                                                <r style="font-weight:bold">@mail.Attachments.Sum(x => x.FileSizeInMb).ToString("0.00")</r> MB
                                                            </h7>
                                                        </p>
                                                        <p><h7>Subject: <r style="font-weight:bold">@mail.Subject</r></h7></p>
                                                        <div class="mail-bodyDB" style="width: 100%; height:300px; overflow-y:scroll;">
                                                            <img src="/images/ajax-loader.gif" class="loading-indicator" style="height:150px" />
                                                        </div>
                                                    </td>
                                                    <td class="" style="background-color:antiquewhite;">
                                                        <form action="/" method="post">
                                                            <input type="type" placeholder="Customer Name" name="name" value="" />
                                                            <input type="type" placeholder="Identification Number" name="name" value="" />
                                                        </form>
                                                        <div style="">
                                                            <p></p>
                                                            <button type="button" data-dismiss="modal" style="width:160px" class="btn btn-success validation-button" data-messageId="@mail.GmailIdNumber" data-url="/home/validatemail">Validate&Close</button>
                                                            <p></p>
                                                            <button type="submit" style="width:160px" class="btn btn-success ">Validate&Next</button>
                                                            <p></p>
                                                            <p></p>
                                                            <button style="width:160px" class="btn btn-danger">Unvalidate&Close</button>
                                                            <p></p>
                                                            <button style="width:160px" class="btn btn-danger">Unvalidate&Next</button>
                                                            <p></p>
                                                            <button style="width:160px" class="btn btn-secondary">Cancel</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>




@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="ListAllMails"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


@*<script>
        $(document).on('hidden.bs.modal', function (e) {
            var target = $(e.target);
            target.removeData('bs.modal')
                .find(".modal-body").html('');
        });
    </script>*@
