@model EmailViewModel

<h3>Preview</h3>

<h3>Sender (email and name / From: field): @Model.Sender.SenderEmail @Model.Sender.SenderName </h3>

<h3>Date received (date of email receiving within the mail server): @Model.DateReceived</h3>
<h3>Subject: @Model.Subject</h3>


<iframe srcdoc="@Model.Body" width="400" height="600"></iframe>



<h3>
    • Count of attachments and total (sum) size of attachments (in kb/Mb)
    • Customer unique ID / EGN – filled by bank employee / agent when change from New->Open status
    • Customer contact phone – filled by bank employee / agent when change from New->Open status
    • Date/Time of initial registration within the system (when the email was extracted from MS Exchange server and registered within the DB)
    • Date/Time when the application was set in current status
    • Date/Time when the application was set in terminal status (Closed or Invalid Application)
</h3>

