@model EmailViewModel

<td>@Model.Id</td>
<td hidden data-gmailIdNumber="@Model.GmailIdNumber">@Model.GmailIdNumber</td>
<td>@Model.DateReceived</td>
<td>@Model.Sender.SenderName &lt@(Model.Sender.SenderEmail)&gt</td>
<td>@Model.Subject</td>

<td>@(Model.InCurrentStatusSince.TotalHours.ToString("N0")):@Model.InCurrentStatusSince.Minutes</td>
@if (Model.UserIsManager)
{
    <td>@Model.PreviewedBy.UserName</td>
}


<td data-label="processModal">

    <!-- Process Modal -->
    <!-- Button to Open the Modal -->
    <button onclick="processMailButton(this)" type="button" class="process-button btn btn-success" data-isManager=@Model.UserIsManager data-toggle="modal" data-target="#mails-@Model.GmailIdNumber" data-status="@Model.Status.Text">
        <img src="~/images/process.png" height="30" width="30">
    </button>
    <!-- The Modal -->
    <div class="modal fade bootstrap-modal" id="mails-@Model.GmailIdNumber" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="cursor:default">
                    <h6 class="modal-title">@Model.Sender.SenderName, @Model.Sender.SenderEmail</h6>
                    @*<button type="button" class="close close-button-open" data-dismiss="modal" data-target="@Model.GmailIdNumber">&times;</button>*@
                </div>

                <!-- Modal body -->
                <div class="modal-body-@Model.GmailIdNumber" data-backdrop="true" style="cursor:default">
                    <div class="row">
                        <div class="col-sm-9" style="background-color:lavender;">
                            <p><strong>Subject: </strong><r>@Model.Subject</r></p>
                            <p><strong>Received At: </strong> <r>@Model.DateReceived</r></p>
                            <p>
                                <r style="font-weight:bold">@Model.Attachments.Count</r> attachment/s, total size:
                                <r style="font-weight:bold">@Model.Attachments.Sum(x => x.FileSizeInMb).ToString("0.00")</r> MB
                            </p>
                            <div class="mail-bodyDB" style="width: 100%; height:400px; overflow-y:scroll;">
                                <img src="/images/ajax-loader.gif" class="loading-indicator" style="height:150px" />
                            </div>
                        </div>
                        <div class="col-sm-3" style="background-color:antiquewhite;">
                            <div class="input-form=@Model.GmailIdNumber">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <label>Personal Identification Number:</label>

                                <input asp-for="@Model.CustomerEGN" placeholder="Personal Identification Number" name="CustomerEGN" id="egnid-@Model.GmailIdNumber" />

                                <span asp-validation-for="@Model.CustomerEGN" class="text-danger"></span>

                                <label>Phone Number:</label>

                                <input asp-for="@Model.CustomerPhoneNumber" placeholder="Phone Number" id="phoneid-@Model.GmailIdNumber" name="CustomerPhoneNumber" />

                                <span asp-validation-for="@Model.CustomerPhoneNumber" class="text-danger"></span>


                                <button onclick="approveApplicationButton(this)" data-gmailIdNumber="@Model.GmailIdNumber" type="button" style="width:160px" class="btn btn-success" data-dismiss="modal">Submit&Close</button>
                            </div>
                            <br />
                            <div style="">
                                <button onclick="rejectApplicationButton(this)" type="button" data-dismiss="modal" style="width:160px" class="btn btn-danger notValid-button" data-messageId="@Model.GmailIdNumber" data-url="/home/submitncloseapplicationrejected">Reject&Close</button>
                                <p></p>
                                <p></p>
                                <button type="button" data-dismiss="modal" style="width:160px" class="btn btn-default notValid-button">Cancel</button>
                                <p></p>
                                <p></p>
                                <button onclick="backToNewApplicationButton(this)" type="button" data-dismiss="modal" style="width:160px" class="btn btn-info notValid-button" data-messageId="@Model.GmailIdNumber">Back to New</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</td>

